.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  color: #081222;
  margin-bottom: 30px;
  font-family: var(--font-primary);
}

.toggle {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-bottom: 30px;
}

.toggleText {
  font-weight: 500;
  font-size: 16px;
  color: #081222;
  font-family: var(--font-primary);
}

.select {
  width: 271px;
}

.error {
  font-size: 12px;
  color: #b20202;
}

.infoFormDiv {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  background-color: transparent;
  padding: 11px 14px;
  border: 1px solid #1e2f33;
  border-radius: 8px;
  outline: none;
  color: #081222;
  font-family: var(--font-primary);
  width: 271px;
  transition: border 225ms linear;
}

.input:hover {
  border: 1px solid #3b5d63;
}

.input:focus {
  border: 1px solid #0b6016;
  color: #0b6016;
}

.inputError {
  border: 1px solid #b20202;
  color: #b20202;
  border-radius: 8px;
}

.input::placeholder {
  color: #355359;
}

.commentInput {
  max-width: 400px;
}

.addBtn {
  background: var(--bg-lighter);
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  padding: 11px 79px;
  width: 271px;
  border-radius: 8px;
  margin-top: 18px;
  transition: background 275ms linear, outline 275ms linear;
}

.addBtn:hover,
.addBtn:focus {
  background: linear-gradient(180deg, #3b5d63 0%, #476c73 100%);
  outline: none;
}

.cancelBtn {
  border: 1px solid #081222;
  font-size: 18px;
  font-weight: 500;
  padding: 11px 79px;
  width: 271px;
  border-radius: 8px;
  transition: background 275ms linear, box-shadow 275ms linear,
    outline 275ms linear, border-color 275ms linear, color 275ms linear;
}

.cancelBtn:hover,
.cancelBtn:focus {
  background: #4a837f;
  border-color: #294045;
  color: #000;
  box-shadow: 0 0 6px rgba(8, 18, 34, 0.3);
  outline: none;
}

/* Responsive */

@media (min-width: 768px) {
  .title {
    margin-bottom: 40px;
  }

  .selectDiv {
    margin-bottom: 24px;
  }

  .select {
    width: 410px;
  }

  .infoFormDiv {
    flex-direction: row;
    gap: 24px;
    margin-bottom: 26px;
  }

  .input {
    width: 193px;
  }

  .commentInput {
    width: 409px;
  }

  .addBtn {
    width: 410px;
    margin-top: 26px;
    margin-bottom: 9px;
  }

  .cancelBtn {
    width: 410px;
  }
}
