.sliderIcon {
  width: 84px;
  height: 44px;
}

.transactionTypeWrapper {
  background: transparent;
  display: flex;
  height: 44px;
  max-width: 248px;
  gap: 20px;
  align-items: center;
}

.typeToggle {
  display: flex;
  padding-top: 5px;
  position: absolute;
}

.radioButton {
  opacity: 0;
}

.input {
  width: 44px;
  height: 44px;
}