.transactionTypeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 44px;
  position: relative;
}

.radio {
  display: none;
}

.iconWrapper {
  cursor: pointer;
  width: 84px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderIcon {
  width: 84px;
  height: 44px;
  pointer-events: none;
}