.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #081222;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: visible;
}

.container {
  width: 288px;
  padding: 16px;
  background: #508f8c;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 182px;
  margin-bottom: 24px;
}

.label {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
  display: block;
}

.icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
  color: #081222;
}

.field {
  width: 100%;
  height: 44px;
  padding-left: 50px; /* чтобы не налазило на иконку */
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #081222;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #081222;
  box-sizing: border-box;
}

.field::placeholder {
  color: #081222;
}

.buttonRegisrer {
  border-radius: 8px;
  padding: 11px 79px;
  width: 100%;
  height: 44px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
}

.buttonLogin {
  border: 1px solid #081222;
  border-radius: 8px;
  padding: 11px 68px;
  width: 100%;
  height: 44px;
  background-color: transparent;
  color: #081222;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.picture {
  display: none;
}

@media (min-width: 768px) {
  /* .backdrop {
    position: relative;
    background-image: url("/src/images/background-picture/ChatGPT Image Apr 23, 2025 at 04_18_25 PM 1.png");
    background-repeat: no-repeat;
    background-size: 320px 239px;
    background-position: 700px 800px;
  } */

  .container {
    overflow: visible;
    width: 533px;
    padding: 32px 69px 50px 55px;
    position: relative;
  }
  .container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 520px;
    left: 230px;
    background-image: url("/src/images/background-picture/ChatGPT Image Apr 23, 2025 at 04_18_25 PM 1.png");
    background-repeat: no-repeat;
    background-size: 320px 239px;
    background-position: 100px 100px;
    z-index: 50;
    pointer-events: none;
  }

  .logo {
    margin-bottom: 32px;
  }
  .label {
    margin-bottom: 24px;
  }
  .buttonRegisrer {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  @media (min-width: 1280px) {
    .container::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 280px;
      left: 430px;
      background-image: url("/src/images/background-picture/ChatGPT\ Image\ Apr\ 23\,\ 2025\ at\ 04_21_29\ PM\ 2.png");
      background-repeat: no-repeat;
      background-size: 320px 239px;
      background-position: 100px 100px;
      z-index: 50;
      pointer-events: none;
    }
  }
}

.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus,
.field:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #508f8c inset !important; /* Цвет фона поля */
  -webkit-text-fill-color: #081222 !important; /* Цвет текста */
  transition: background-color 9999s ease-in-out 0s;
}
