.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: visible;
}

.container {
  width: 288px;
  padding: 16px;
  background: #508f8c;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 182px;
  margin-bottom: 24px;
}

.label {
  width: 100%;
  margin-bottom: 16px;
  display: block;
}
.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  width: calc(100% - 32px);
  margin: 0 auto;
  border: 1px solid #3b5d63;
  border-radius: 8px;
  background-color: transparent;
  height: 44px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  flex-shrink: 0;
  fill: #3b5d63;
  flex-shrink: 0;
}

.field {
  flex: 1;
  height: 100%;
  padding: 0 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #3b5d63;
  background: transparent;
  border: none;
  outline: none;
}

.field::placeholder {
  color: #3b5d63;
}

.inputWrapper.error {
  border-color: #b20202;
}
.inputWrapper.error .icon {
  fill: #b20202;
}
.inputWrapper.error .field {
  color: #b20202;
}
.inputWrapper.error .field::placeholder {
  color: #b20202;
}

.inputWrapper:not(.error):hover {
  border-color: #0b6016;
}
.inputWrapper:has(.field:focus) {
  border-color: #081222;
}
.inputWrapper:not(.error):hover .icon {
  fill: #0b6016;
}
.inputWrapper:has(.field:focus) .icon {
  fill: #081222;
}
.inputWrapper:not(.error):hover input {
  color: #0b6016;
}
.inputWrapper:has(.field:focus) input {
  color: #081222;
}
.inputWrapper:not(.error):hover .field::placeholder {
  color: #0b6016;
}
.inputWrapper:has(.field:focus) .field::placeholder {
  color: #081222;
}

.buttonRegisrer {
  border-radius: 8px;
  padding: 11px 79px;
  max-width: 100%;
  width: calc(100% - 32px);
  margin: 0 auto;
  height: 44px;
  background: #3b5d63;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
}
.buttonRegisrer:hover {
  background-color: #0b6016;
}

.buttonLogin {
  border: 1px solid #081222;
  border-radius: 8px;
  padding: 11px 68px;
  max-width: 100%;
  width: calc(100% - 32px);
  margin: 0 auto;
  height: 44px;
  background-color: transparent;
  color: #081222;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.buttonLogin:hover,
.buttonLogin:focus {
  color: #0b6016;
  border-color: #0b6016;
}

.picture {
  display: none;
}

.error {
  color: #b20202;
}

@media (min-width: 768px) {
  .container {
    overflow: visible;
    width: 533px;
    padding: 32px 69px 50px 55px;
    position: relative;
  }
  .container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 520px;
    left: 230px;
    background-image: url("/background-picture/picture1.png");
    background-repeat: no-repeat;
    background-size: 320px 239px;
    background-position: 100px 100px;
    z-index: 50;
    pointer-events: none;
  }

  .logo {
    margin-bottom: 32px;
  }

  .label {
    width: 100%;
    margin-bottom: 24px;
  }
  .inputWrapper {
    width: 100%;
  }
  .buttonRegisrer {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 24px;
  }
  .buttonLogin {
    width: 100%;
  }

  @media (min-width: 1280px) {
    .container::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 280px;
      left: 430px;
      background-image: url("/background-picture/picture2.png");
      background-repeat: no-repeat;
      background-size: 320px 239px;
      background-position: 100px 100px;
      z-index: 50;
      pointer-events: none;
    }
  }
}
