.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  border-radius: 16px;
  padding: 16px 32px;
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  height: auto;
}

.linkActive .label {
  font-weight: 700;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  flex-shrink: 0;
}

.link[href="/"] .iconWrapper {
  background: #fcfcfc50;
  /* background: linear-gradient(180deg, #294045 0%, #1e2f33 100%); */
}

.linkActive .link[href="/"] .iconWrapper {
  color: #fcfcfc;
  background: #1e2f33;
}

.icon {
  width: 18px;
  height: 19px;
  fill: currentColor;
  display: block;
}

.label {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fcfcfc;
  line-height: 1;
  margin: 0;
  display: block;
}

/* НЕактивна іконка */
.link .icon {
  color: #fcfcfc50;
  fill: currentColor;
}

/* Активна іконка */
.linkActive .icon {
  color: #fcfcfc;
}

/* НЕактивний текст */
.link .label {
  color: #fcfcfc50;
}

/* Активний текст */
.linkActive .label {
  color: #fcfcfc;
  font-weight: 700;
}

/* ========== MOBILE (max-width: 767px) ========== */

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: fit-content;
    margin: 24px 64px;
    height: 44px;
    background: none;
    padding: 0;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: fit-content;
    height: 44px;
  }

  .link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
    border-radius: 6px;
  }

  .iconWrapper {
    width: 44px;
    height: 44px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fcfcfc50;
  }
  
  .linkActive .iconWrapper {
    background: #3b5d63;
  }

  .icon {
    display: block;
    width: 38px;
    height: 38px;
    fill: currentColor;
  }

  /* .iconHome {
    width: 44px;
    height: 44px;
    border-radius: 6px;
    background: #fcfcfc50;
    width: 38px;
    height: 38px;
    fill: currentColor;
    color: #3b5d63;
  } */

  /* .linkActive .iconHome {
    color: #fcfcfc;
    opacity: 1;
    background: #3b5d63;
  } */

  /* .iconStatistics {
    width: 38px;
    height: 38px;
    fill: currentColor;
    color: #4a56e2;
    opacity: 0.5;
  } */

  /* .linkActive .iconStatistics {
    color: #fcfcfc;
    opacity: 1;
  } */


  .currencyIcon {
    width: 28px;
    height: 20px;
  }

  .active .currencyIcon {
    color: #fcfcfc;
    opacity: 1;
  }

  /* .iconCurrency {
    width: 30px;
    height: 22px;
    fill: currentColor;
    opacity: 0.5;
  } */

  /* .linkActive .iconCurrency {
    color: #fcfcfc;
    opacity: 1;
  } */

  .label {
    display: none;
  }
}

/* ========== TABLET (min-width: 768px and max-width: 1279px) ========== */

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 338px;
    height: 143px;
    padding: 16px;
    border-radius: 16px;
    background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    display: flex;
    justify-content: flex-start;
  }

  .nav {
    flex-direction: column;
    gap: 24px;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .link {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    margin-left: 16px;
  }
}

/* ========== DESKTOP (min-width: 1280px) ========== */

@media (min-width: 1280px) {
  .container {
    width: 451px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  .nav {
    flex-direction: column;
    gap: 12px;
  }
} 