.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #508F8C;
  border-radius: 8px;
  padding: 40px 8px 24px;
  width: 287px;
  min-height: 492px;
  position: relative;
  overflow: visible;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  padding: 0;
  background: transparent;
  /* border: 2.5px solid #081222; */
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.closeIcon {
  width: 16px;
  height: 16px;
  stroke: #081222;
}

@media (min-width: 768px) {
  .modal {
    width: 540px;
    min-height: 511px;
    padding: 40px;
  }

  .closeBtn {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 1280px) {
  .modal {
    position: absolute;
    top: 106px;
    left: 371px;
  }
}