:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-alt: "Circe", sans-serif;
  --color-black: #081222;
  --color-darkgreen: #0b6016;
  --light-green: #508f8c;
  --white: #fcfcfc;
  --bg-dark: #1e2f33 #294045;
  --yellow: #dfad3f;
  --bg-lighter: #355359 #3b5d63;
  --red: #b20202;
  --light-red: #f23a3a;
}
