@font-face {
  font-family: "Circe";
  src: url("../public/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: var(--bg-dark);
  color: var(--white);
}
@media only screen and (max-width: 287px) {
  .app {
    height: 100vh;
    overflow: auto;
  }
  .block-scroll {
    overflow: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .app {
    overflow: hidden;
  }
}
@media only screen and (min-width: 1280px) {
  .app {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
